// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p, h1 {
  text-align: center;
}
.faith {
  background-color: #43ad25;
  height: 100vh;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  line-height: 100vh;
  font-size: 100px;
  color:white;
  font-weight: bold;
  font-family: sans-serif;
}