// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.faith {
  position: relative;
  display:flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 20vh;
    line-height: 20vh;
    text-align: center;
  }
  background-color: #43ad25;
  height: 100vh;
  width: 100%;
  color:white;
  font-weight: bold;
  font-family: sans-serif;
  .arrow {
    position: absolute;
    bottom:5vh;
    line-height: 5vh;
    font-size: 10vh;
    a:hover, a:visited {
      background-color: none;
      color: white;
      text-decoration: none;
    }
    i {
      opacity: 0.5;
      z-index: 9999;
    }
  }
}
.prayer {
  p {
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    a {
      text-align: center;
      z-index: 9999;
      i {
        font-size: 2rem;
      }
    }
  }
  h1 {
    text-align: center;
    line-height: 7rem;
  }
}
.hashtags {
  opacity: 0.2;
  position:fixed;
  bottom:0;
  width:100%;
  height:10%;
  z-index: -1;
  .left-hashtag {
    position: absolute;
    left: 30px;
    bottom: 30px;

  }
  .right-hashtag {
    position: absolute;
    right: 30px;
    bottom: 30px;
  }
}