// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.prayer {
  p {
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    a {
      text-align: center;
      z-index: 9999;
      i {
        font-size: 2rem;
      }
    }
  }
  h1 {
    text-align: center;
    line-height: 7rem;
  }
}
.faith {
  background-color: #43ad25;
  height: 100vh;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  line-height: 100vh;
  font-size: 100px;
  color:white;
  font-weight: bold;
  font-family: sans-serif;
  i {
    position: absolute;
    bottom: 10px;
    text-align: middle;
    opacity: 0.5;
    z-index: 9999;
  }
}
.hashtags {
  opacity: 0.2;
  position:fixed;
  bottom:0;
  width:100%;
  height:10%;
  z-index: -1;
  .left-hashtag {
    position: absolute;
    left: 30px;
    bottom: 30px;

  }
  .right-hashtag {
    position: absolute;
    right: 30px;
    bottom: 30px;
  }
}